.area {
  background-color: #EA4C89;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.countDown {
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.button button {
  width: 100px;
  font-size: 32px;
}

.finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 40px;
}
